<h2>Blogr</h2>

<div class="product footer-item">
  <h2>Product</h2>
  <ul>
    <li>Overview</li>
    <li>Pricing</li>
    <li>Marketplace</li>
    <li>Features</li>
    <li>Integrations</li>
  </ul>
</div>

<div class="company footer-item">
  <h2>Company</h2>
  <ul>
    <li>Overview</li>
    <li>Pricing</li>
    <li>Marketplace</li>
    <li>Features</li>
    <li>Integrations</li>
  </ul>
</div>

<div class="connect footer-item">
  <h2>Connect</h2>
  <ul>
    <li>Overview</li>
    <li>Pricing</li>
    <li>Marketplace</li>
    <li>Features</li>
    <li>Integrations</li>
  </ul>
</div>
