:root {
  --red-010: hsl(356, 100%, 66%);
  --red-020: hsl(355, 100%, 74%);
  --red-030: hsl(353, 100%, 62%);

  --blue-010: hsl(208, 49%, 24%);

  --white-010: hsl(0, 0%, 100%);

  --gray-010: hsl(240, 2%, 79%);
  --gray-020: hsl(207, 13%, 34%);
  --gray-030: hsl(240, 10%, 16%);

  --orange-010: hsl(13, 100%, 72%);

  --dark-010: hsl(237, 17%, 21%);
  --dark-020: hsl(237, 23%, 32%);

  --gradient-010:  linear-gradient(hsl(13, 100%, 72%) 10%, hsl(353, 100%, 62%) 120%);
}
